* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-colour: #4C7FBC;
  --secondary-colour: #AAAAAA;
  --tertiary-colour: #00E995;
  --soft-blue: #DBE2EF;
}

body {
  background-color: var(--primary-colour);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: white;
  border-radius: 5%;
  margin: 50px auto;
  height: 40vh;
}

