* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-colour: #4C7FBC;
  --secondary-colour: #AAAAAA;
  --tertiary-colour: #00E995;
  --soft-blue: #DBE2EF;
}

h1 {
  color: var(--primary-colour);
}

body {
  background-color: var(--primary-colour);
}

input {
  background-color: var(--soft-blue);
  border: none;
  font-size: 1rem;
  height: 30px;
  padding: 1rem;
}

#add-task-btn {
  background-color: var(--secondary-colour);
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #ffffff;
  border-radius: 5%;
  margin: 50px auto;
  height: 40vh;
  padding-top: 20px;
}

