<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>
<body>
  <h1>Todo List</h1>
  
  <!-- Form to add new todos -->
  <form action="/todos" method="POST">
    <div>
      <label for="title">Todo Tasks</label>
      <br>
      <input type="text" name="title" placeholder="Enter Todo item...">
      <button type="submit">Add Task</button>
      <br>
    </div>
  </form>

  <!-- List of existing todos -->
  <ul>
  {% for todo in todo_list %}
    <li>
      <p> {{ todo.id }} | {{ todo.title }} </p>
    </li>
  {% endfor %}
  </ul>
  </form>
</body>
</html>